/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* common elements */
html {
  font-size: 16px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #555;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  padding: 10px 0;
}
h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #555;
  padding: 6px 3px;
}
h3 {
  font-size:2.75rem;
  font-weight: 700;
  padding: 32px 0 24px;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 6px 0;
}
a {
  text-decoration: none;
  color: #5595E0;
}
a:hover {
  color: #555;
}
a:visited {
  color: darkblue;
}
blockquote {
  margin: 0 10px 20px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.85rem;
}
/* header, nav, banner */
header {
  position: fixed;
  top: 0;
  display: flex;
  height: 64px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

header img {
  height: 42px;
}
.h2-alt {
  color: #ccc;
  font-weight: 300;
}
#logo {
  display: flex;
  padding: 15px 24px;
}
nav {
  display: flex;
  color: #555;
  padding: 15px 24px;
}
nav span {
  padding: 6px 8px;
  font-size: 1.2rem;
}
nav a {
  text-decoration: none;
  color: #555;
}
nav a:hover {
  color: #5595E0;
}
nav a:visited {
  color: darkblue;
}
.mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .mobile {
    display: initial;
  }
  .menu {
    display: none
  }
}

#banner {
  margin-top: 64px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 32px 0 0;
  padding-top: 32px;
}
.banner-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 10px;
}
#banner img {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}
#banner .box {
  background-color: #555;
  color: white;
  padding: 16px 0;
  text-align: center;
  width: 70%;
  font-size: 1.25rem;
}
#banner p {
  padding: 20px 0 30px;
  font-size: 1.75rem;
}

/* main section */

main {
  margin: 3px 0;
}
main .container {
  display: flex;
  max-width: 100%;
  margin: 0 24px 0 24px;
}
.col-1 {
  display: flex;
  width: 60%;
  padding: 32px 2% 32px 0;
  flex-direction: column;
  border-right: 1px solid #ddd;
}
.col-1 img {
  height: auto;
  width: 100%;
}
.col-2 {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: 16px 0 0;
}
.flex {
  display: flex;
  width: 98%;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}
.col-2 img {
  width: 100%;
  height: auto;
}
.image {
  width: 35%;
}
.inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem;
  width: 65%;
  margin: 0 20px;
}
.box-3, .thesis .box-1 {
  background-color: #ddd;
}

#learning {
  background-color: #eee;
  text-align: center;
}
#learning h3 {
  padding-bottom: 32px;
}
.learn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 72px;
  padding: 0 0 32px;
  text-align: left;
}
.boxed {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 32px;
  width: 30%;
}
.learn img {
  height: auto;
  width: 100%;
}
.learn h4 {
  padding: 16px 0 8px 16px;
}
.course {
  text-transform: uppercase;
  padding: 0 0 8px 16px;
  font-weight: 300;
  font-size: 1.2rem;
}
.info {
  padding: 0 0 24px 16px;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.thesis .col-1, .thesis .flex {
  border: none;
}
video {
  width: 100%;
}

/* footer section */

footer {
  border-top: 2px solid #eee;
  margin: 0 5px 0;
  height: 100px;
  padding: 16px 0 0;
}
.flex-foot {
  margin: 0 24px;
  display: flex;
  justify-content: space-between;
}
.links a {
  padding: 0 10px;
}