/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

/* common elements */
html {
  font-size: 16px;
  font-family: "Open Sans", "Helvetica", sans-serif;
  color: #555;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  padding: 10px 0;
}
h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #555;
  padding: 6px 3px;
}
h3 {
  font-size:2.75rem;
  font-weight: 700;
  padding: 32px 0 24px;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 6px 0;
}
a {
  text-decoration: none;
  color: #5595E0;
}
a:hover {
  color: #555;
}
a:visited {
  color: darkblue;
}
blockquote {
  margin: 0 10px 20px;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1.85rem;
}
/* header, nav, banner */
header {
  position: fixed;
  top: 0;
  display: flex;
  height: 64px;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

header img {
  height: 42px;
}
.h2-alt {
  color: #ccc;
  font-weight: 300;
}
#logo {
  display: flex;
  padding: 15px 24px;
}
nav {
  display: flex;
  color: #555;
  padding: 15px 24px;
}
nav span {
  padding: 6px 8px;
  font-size: 1.2rem;
}
nav a {
  text-decoration: none;
  color: #555;
}
nav a:hover {
  color: #5595E0;
}
nav a:visited {
  color: darkblue;
}
.mobile {
  display: none;
}

#banner {
  margin-top: 64px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 32px 0 0;
  padding-top: 32px;
}
.banner-side {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 10px;
}
#banner img {
  width: 60%;
  height: auto;
  padding: 32px 24px;
}
#banner .button {
  background-color: #555;
  color: white;
  padding: 16px 0;
  text-align: center;
  width: 20%;
  font-size: 1.25rem;
  border-radius: 5px;
}
#banner p {
  padding: 20px 0 30px;
  font-size: 1.75rem;
}
@media only screen and (min-width: 769px) {
  #banner .button {
    position: absolute;
    transition: all 1s;
  }
  #banner .button:hover {
    font-size: 1.35rem;
    width: 25%;
    padding: 20px 0;
    background-color: #5595E0;
    color: #555;    
  }
}

@media only screen and (max-width: 768px) {
  header {
    height: 77px;
    margin-top: -10px;
  }
  header img {
    height: 60px;
  }
  #logo {
    display: none;
  }
  .mobile {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .mobile span {
    padding: 0 0 5px;
  }
  .menu {
    display: none
  }
  #banner {
    flex-flow: column wrap;
    margin: 0 auto;
    padding: 0;
    align-items: flex-start;
  }
  #banner img {
    width: 100%;
    padding: 20px 0;
  }
  .banner-side {
    width: 95%;
    margin: 0 0 0 16px;
    flex-flow: column wrap;
    padding-bottom: 32px;
  }
  #banner h1 {
    padding: 32px 16px;
    font-size: 2.3rem;
    line-height: 2.7rem;
  }
  #banner p {
    padding: 0 16px 24px;
    font-size: 1.65rem;
  }
  #banner .button {
    position: static;
    width: 92%;
    margin: 0 auto;
    background-color: #999;
  }

  #banner .button:hover {
    background-color: #333;
  }
}

/* main section */

main {
  margin: 3px 0;
}
main .container {
  display: flex;
  max-width: 100%;
  margin: 0 24px 0 24px;
}
.col-1 {
  display: flex;
  width: 60%;
  padding: 32px 2% 32px 0;
  flex-direction: column;
  border-right: 1px solid #ddd;
}
.col-1 img {
  height: auto;
  width: 100%;
}
.col-2 {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin: 16px 0 0;
}
.flex {
  display: flex;
  width: 98%;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}
.col-2 img {
  width: 100%;
  height: auto;
}
.image {
  width: 35%;
}
.inside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem;
  width: 65%;
  margin: 0 20px;
}
.box-3, .thesis .box-1 {
  background-color: #ddd;
}

#learning {
  background-color: #eee;
  text-align: center;
}
#learning h3 {
  padding-bottom: 32px;
}
.learn {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 72px;
  padding: 0 0 32px;
  text-align: left;
}
.boxed {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-bottom: 32px;
  width: 30%;
}
.learn img {
  height: auto;
  width: 100%;
}
.learn h4 {
  padding: 16px 0 8px 16px;
}
.course {
  text-transform: uppercase;
  padding: 0 0 8px 16px;
  font-weight: 300;
  font-size: 1.2rem;
}
.info {
  padding: 0 0 24px 16px;
  font-weight: 300;
  font-size: 1.2rem;
  line-height: 1.6rem;
}
.thesis .col-1, .thesis .flex {
  border: none;
}
video {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  main .container {
    flex-direction: column;
    margin: 0;
  }
  .practice .flex {
    flex-direction: column;
    border: none;
  }
  .practice .col-1 {
    display: none;
  }
  .practice .col-2 {
    width: 90%;
    margin: 65px 16px;
  }
  .practice .inside {
    margin: 16px 16px 0;
  }
  .orientation, .campus, .guest {
    width: auto;
  }
  .practice .box-3 {
    background-color: #fff;
  }
  #learning {
    background-color: white;    
    border: 1px solid #ddd;
  }
  #learning img, #learning p {
    display: none;
  }
  .learn {
    flex-direction: column;
    margin: 0 32px;
  }
  .boxed {
    background-color: #ddd;
    width: 100%;
    margin: 0 auto 8px;
  }
  .boxed h4 {
    width: 90%;
    padding: 24px 0 24px 16px;
  }
  .thesis .col-1 h4, .thesis .col-1 blockquote, .thesis .col-2 {
    display: none;
  }
  .thesis {
    margin: 0 auto;
  }
  .thesis .col-1 {
    width: 100%;
    padding: 0;
  }
  .thesis h3 {
    text-align: center;
  }


}
/* footer section */

footer {
  border-top: 2px solid #eee;
  margin: 0 5px 0;
  height: 100px;
  padding: 16px 0 0;
}
.flex-foot {
  margin: 0 24px;
  display: flex;
  justify-content: space-between;
}
.links a {
  padding: 0 10px;
}
@media only screen and (max-width: 768px) {
  footer {
    height: 50px;
    padding: 60px 0 0;
  }
  .links {
    display: none;
  }
}